.headKeeper{
	display: flex; 
	justify-content: space-between;
	float: right;
}
.head>a{
	width:80px;
	height:50px;
	display: block;
	text-decoration: none;
	color: #000;
	text-align: center;
	line-height: 40px;
}
#followBar{
	margin-top: 30px;
	/*background:#F3F3F3;*/
}
#followBar div{
	height: 5px;
	width: 80px;
	background-image: linear-gradient(to right,#46aedb,#3D37B9);
	transform: translate(880px);
	transition: all .1s linear;
}
#menu{
	background-image: linear-gradient(to top,#E5E5E5,#FAFAFB);
	margin-bottom: 20px;
	line-height: 50px;
	height: 50px;
	border:1px solid #D9D9D9;
	border-radius: 5px;
}
#logo{
	float: left;
	margin-left: 20px;
}
#search input{
	float: left;
	display: block;
	height: 32px;
	width: 420px;
	/*margin-top:6px; */
	border-radius: 15px;
	border: none;
	padding: 0 8px;
	margin-left: 180px;
	outline:none;
}
#search div{
	float: left;
	margin-left:20px; 
	height: 32px;
	width: 32px;
	cursor: pointer;	
	border-radius: 50%;
	background:#46aedb;
	line-height: 32px;
	text-align: center;
}
#search{
	display: flex;
	float: left;
	margin-top:10px; 
}
#search div svg.icon{
	width: 32px;
	height: 32px;
}

