.form{
    width: 250px;
    height:720px;
    position: absolute;
    top: 0;
    right: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.3);
    z-index: 20;
    color: #fff;
}
.form>form{
    margin: 100px auto;
}
.form li{
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
    flex-wrap: wrap;
    width: 220px;
}
.form li>input{
    border-radius: 4px;
    border: none;
    outline: none;
    margin: 5px 0px;
    padding-left: 10px;
    width: 140px;

}
.form form li b{
    font-size: 12px;
}
.btn{
    text-align: center;
    width:180px;
    color: #000;
    height:30px;
    line-height:30px; 
    border: none;
    background-image: linear-gradient(to top, #499cdb, #70c7ee);
    border-radius: 8px;
    cursor: pointer;
    margin: 20px auto;
}
.clear:after{
    content:"";
    display: block;
    clear: both;
}
.bg{
    width: 1280px;
    height: 720px;
    /*display: flex;*/
    position: absolute;
    overflow: hidden;
    flex-wrap: wrap;
    z-index: -2;
   background-image:linear-gradient(to top,#3B4BB3,#4ebaea) ;
}
 .bgholder{
        width:1280px;
        height:720px;
        position:relative;
        
        /*overflow: hidden;*/
        }
 .bgholder div{
        width:128px;
        height: 90px;
        position: absolute;
        /* background-image: url(walle.jpg); */
        transition: top 1s ease-in-out,
                    left 1s ease-in-out,
                    opacity 1s ease-in-out;
        z-index: -1;          
        }
footer{
    position: absolute;
    top:800px;
    height: 320px;
    width: 100%;
}
